/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
    }
    
    /* Mobile Layout: 320px. */
    @media only screen and (max-width: 767px) { 
      
    }
    
    /* Tablet Layout: 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) { 
      
    }
    
    /* Medium Layout: 1280px. */
    @media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
    }
    
    /* Max Layout */
    @media only screen and (min-width: 1201px) { 
/* ----------------INTERN--------------- */
.intern-company {
    width: 70%;
    margin: auto;
    text-align: center;
}

.center-header {
    font-size: 1.5rem;
    padding: 6rem 0;
}

.intern-company-hire {
    padding: 0 2rem 2rem 2rem;
}

#intern-guide, #intern-past {
    margin: auto;
    text-align: center;
    width: 70%;
}

#apply-container {
    margin: auto;
}
#apply-img {
    background-color: #37495B;
    margin: 0 auto;
    text-align: center;
    padding: 8rem 0;
}
#apply-form {
    padding: 6rem 8rem;
    background-color: #fff;
}
.row {
    margin: auto 0;
}
.form-control {
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    border-radius: 0;
    font-size: 1rem;
}

#apply-title {
    font-size: 1.6rem;
    padding: 2rem 0;
}

#apply-subtitle {
    color: #898989;
    font-weight: 400;
}

.form-control:focus {
    box-shadow: none;
}

.special {
    border: 1px solid #898989;
    border-radius: 5px;
}
    }