/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
    }
    
    /* Mobile Layout: 320px. */
    @media only screen and (max-width: 767px) { 
    /*----------------------SERVICE-----------------------------*/
    #service-slogan {
        font-size: 1.4rem;
        color: #000;
        font-weight: 700;   
    }
    .navbar-toggler {
        border: none;
        outline: none;
     }
     
     button:focus {
         outline: none;
     }
    .service-img {
        height: 15%;
        width: auto;
    }
    #service-book, #service-background, #service-intern, #service-summer {
        text-align: center;
        margin: auto;
        width: 80%; 
        margin-top: 4rem;
        margin-bottom: 6rem;
    }
    p {
        font-size: 0.8rem;
    }
    .service-company-sub {
        color: #898989;
        font-weight: 400;
        font-size: 0.8rem;
    }

    .service-company-detail {
        padding: 0.1rem;
        font-size: 0.8rem;
    }


    /*----------------------SERVICE HANDBOOK-----------------------------*/
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #ffffff;
        background-color: #37495B;
    }


    .nav-link {
        color: #37495B;
    }

    .nav-link:hover {
        color: #DD6B6B;
    }

    .handbook-subheader {
        font-size: 1rem;
        font-weight: 600;
        color: #DD6B6B;
    }

    .handbook-content {
        font-size: 0.8rem;
        color: #898989;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    #service-container {
        margin: auto 1rem;
    }
    
    #v-pills-tab {
        padding-bottom: 2rem;
    }
    }
    
    /* Tablet Layout: 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) { 
    /*----------------------SERVICE-----------------------------*/
    #service-slogan {
        font-size: 2.4rem;
        color: #000;
        font-weight: 700;   
    }
    .service-img {
        height: 15%;
        width: auto;
    }
    #service-book, #service-background, #service-intern, #service-summer {
        text-align: center;
        margin: auto;
        width: 70%; 
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .service-company-sub {
        color: #898989;
        font-weight: 500;
        font-size: 0.7rem;
    }

    .service-company-detail {
        padding: 0.1rem 2rem;
        font-size: 0.8rem;
    }


    /*----------------------SERVICE HANDBOOK-----------------------------*/
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #ffffff;
        background-color: #37495B;
    }


    .nav-link {
        color: #37495B;
    }

    .nav-link:hover {
        color: #DD6B6B;
    }

    .handbook-subheader {
        font-size: 1.8rem;
        font-weight: 600;
        color: #DD6B6B;
    }

    .handbook-content {
        font-size: 1rem;
        color: #898989;
        padding-right: 4rem;
        padding-top: 1rem;
    }

    #service-container {
        margin: auto 6rem;
    }         
    }
    
    /* Medium Layout: 1280px. */
    @media only screen and (min-width: 992px) and (max-width: 1200px) { 
    /*----------------------SERVICE-----------------------------*/
    #service-slogan {
        font-size: 2.4rem;
        color: #000;
        font-weight: 700;   
    }
    .service-img {
        height: 20%;
        width: auto;
    }
    #service-book, #service-background, #service-intern, #service-summer {
        text-align: center;
        margin: auto;
        width: 70%; 
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .service-company-sub {
        color: #898989;
        font-weight: 500;
    }

    .service-company-detail {
        padding: 0.1rem 2rem;
        font-size: 0.8rem;
    }


    /*----------------------SERVICE HANDBOOK-----------------------------*/
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #ffffff;
        background-color: #37495B;
    }


    .nav-link {
        color: #37495B;
    }

    .nav-link:hover {
        color: #DD6B6B;
    }

    .handbook-subheader {
        font-size: 1.8rem;
        font-weight: 600;
        color: #DD6B6B;
    }

    .handbook-content {
        font-size: 1rem;
        color: #898989;
        padding-right: 4rem;
        padding-top: 1rem;
    }

    #service-container {
        margin: auto 6rem;
    }   
    }
    
    /* Max Layout */
    @media only screen and (min-width: 1201px) { 

    /*----------------------SERVICE-----------------------------*/
    #service-slogan {
        font-size: 2.4rem;
        color: #000;
        font-weight: 700;   
    }
    .service-img {
        height: 30%;
        width: auto;
    }
    #service-book, #service-background, #service-intern, #service-summer {
        text-align: center;
        margin: auto;
        width: 70%; 
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .service-company-sub {
        color: #898989;
        font-weight: 500;
    }

    .service-company-detail {
        padding: 0.1rem 2rem;
    }


    /*----------------------SERVICE HANDBOOK-----------------------------*/
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #ffffff;
        background-color: #37495B;
    }


    .nav-link {
        color: #37495B;
    }

    .nav-link:hover {
        color: #DD6B6B;
    }

    .handbook-subheader {
        font-size: 1.8rem;
        font-weight: 600;
        color: #DD6B6B;
    }

    .handbook-content {
        font-size: 1rem;
        color: #898989;
        padding-right: 4rem;
        padding-top: 1rem;
    }

    #service-container {
        margin: auto 6rem;
    }

    }